**/build/
**/bin/
**/out/
**/.classpath
**/.project
**/.settings
.gradle
**.ipr
**.iml
**.iws
.idea
target
.DS_Store
dependency-reduced-pom.xml
**/overlays
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
